# ============================================
# 로컬 개발 환경 공통 설정
# ============================================
server:
  forward-headers-strategy: framework

app:
  frontend:
    base-url: http://localhost:30000

eureka:
  instance:
    prefer-ip-address: false
    ip-address: 127.0.0.1
    hostname: localhost
    instance-id: ${eureka.instance.hostname}:${spring.application.name}:${server.port}
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true

spring:
  kafka:
    bootstrap-servers: localhost:9092

# Local Actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health,env,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always